<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



    <title>Document</title>


    <style>
        body {
            background-color: #ebe1de;
        }

        img:hover {
            cursor: pointer;
        }

        #first_img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }



        .bighead {
            width: 150px;
            height: 150px;
            border: 1px solid gray;
            border-radius: 150px 150px;
            overflow: hidden;
        }

        .bighead img {
            width: 100%;
            height: 100%;
        }

        .pre-formatted {
            white-space: pre-wrap;
            /* 👈 this is the important part */
            /* border: 1px dotted; */
            padding: 1rem;
        }
    </style>
</head>

<body>


    <header>
        <nav class="navbar navbar-expand-md fixed-top" style="background-color: rgb(238, 248, 229);" id="monitor">
            <div class="container-fluid">
                <div>
                    <button type="button" class="btn" onclick="self.location.href='index.html'">
                        <img src="img/plant_logo.svg" class="logo">
                    </button>

                </div>
                <a href="index.html" style="text-decoration:none;color:rgb(45, 107, 45)">
                    <h3 class="mt-2">首頁 HOME</h3>
                </a>
                <div>
                    <h4 class="align-middle " style="display: inline;" v-show="canlogout">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWelcome，</h4>
                    <h4 class="align-middle" style="display: inline;color: orange;" v-show="canlogout">
                        {{message}}&nbsp</h4>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>  -->
                    </ul>
                    <form class="d-flex form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto list-inline">

                            <li class="nav-item mt-2">
                                <button type="button" class="btn navbar_btn"
                                    onclick="self.location.href='product_manage.html'"><img class="logo1"
                                        src="img/list_icon.svg" alt="" v-show="canlogout"><span
                                        class="nav_span align-middle" v-show="canlogout">上架商品管理</span></button>
                            </li>
                            <li class="nav-item mt-2">
                                <button type="button" class="btn navbar_btn" data-bs-toggle="modal"
                                    data-bs-target="#member" v-show="canlogout"><img class="logo1"
                                        src="img/user_icon.svg" alt=""><span
                                        class="nav_span align-middle">賣場資料編輯</span></button>
                            </li>

                            <li class="nav-item mt-2">
                                <button type="button" class="btn navbar_btn" data-bs-toggle="modal"
                                    data-bs-target="#shop_car" v-show="canlogout"><img class="logo1"
                                        src="img/shop_logo.svg" alt=""><span
                                        class="nav_span align-middle">願望清單</span></button>
                            </li>

                            <li class="nav-item">
                                <button v-if="canlogout" type="button" class="btn btn-danger" @click.prevent="logout"
                                    style="padding: 5px 8px;
                        margin: 14px 0px;">
                                    登出
                                </button>
                                <button v-else="canlogin" type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#login">
                                    登入
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>

    </header>





    <main class="container py-5 mt-5" id="item">
        <div class="row py-3 mt-5" style="background-color:rgb(248, 236, 236)">
            <div class="col-7">
                <div class="row ms-3" style=" height: 500px; position: relative;">
                    <img id="first_img" :src="item_data.img_src[0]">
                </div>
                <div class="row py-3 mt-2" style="height: 150px;">
                    <div class="col-2" v-for="(img,index) in item_data.img_src" @click="change_First_img(index)">
                        <img :src="img" class="img-thumbnail">
                    </div>
                </div>

            </div>
            <div class="col-5">
                <div class="me-3 py-3" style="height:100% ; background-color:rgb(252, 252, 252)">
                    <div class="py-3 ms-3 me-3" style="word-wrap:break-word;">
                        <h3 class="py-3 mt-3">{{item_data.name}}</h3>
                    </div>
                    <div class="py-3 ms-3 me-3" style="background-color:rgb(221, 215, 215)">
                        <div class="ms-3 ">
                            <h5 class="text-success">價格: {{item_data.price}}$ / {{item_data.unit}}</h5>
                            <h5 class="text-danger">庫存: {{item_data.amount}}</h5>
                        </div>
                    </div>
                    <div class="ms-3 py-5">
                        <h5>交易方式: {{item_data.trade_type}}</h5>
                        <h5>出貨地區: {{item_data.city}}-{{item_data.districts}}</h5>

                        <button v-if="sneak_json.length > 0" type="button" class="btn btn-secondary"
                            data-bs-toggle="modal" data-bs-target="#crop_modal">
                            市場行情
                        </button>
                        <button v-else type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#crop_modal" disabled>
                            暫時查無資料
                        </button>

                    </div>


                    <div class="ms-3 py-3 mt-5 me-3 text-center row">
                        <button type="button" class="btn btn-success btn-block" onclick="v_btn.click()">
                            加入願望清單
                        </button>
                    </div>
                    <div class="ms-3 mt-5 me-3 text-primary">
                        上架時間: {{time_com()}}
                    </div>

                </div>


            </div>
        </div>

        <div class="row py-5 mt-5" style="background-color:rgb(248, 236, 236);">
            <div class="ms-5 col-3 bighead">
                <img :src="seller_data.img" alt="">
            </div>
            <div class="col-md-2">
                <h5>{{seller_data.name}}</h5>
            </div>
            <div class="col pre-formatted text-secondary">
                <h5>{{seller_data.description}}</h5>
            </div>
            <div class="col-2">

            </div>
        </div>

        <div class="row py-5 mt-5 pre-formatted" style="background-color:rgb(248, 236, 236);">
            <div class="">
                <h5>{{item_data.introduction}}</h5>
            </div>
        </div>



        <div class="py-5 row">
            <button type="button" class="btn" style="color: #f5f5f5;background-color:rgb(72, 156, 156)"
                onclick="self.location.href='index.html'">返回</button>
        </div>




        <!-- 行情 modal -->
        <div class="modal fade" id="crop_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">市場行情參考</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">名稱</th>
                                    <th scope="col">交易所</th>
                                    <th scope="col">每公斤/平均價</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(value,index) in sneak_json">
                                    <th scope="row">{{ index }}</th>
                                    <td>{{ value.CropName }}</td>
                                    <td>{{ value.MarketName }}</td>
                                    <td>{{ value.Avg_Price }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© Green Sale</p>
    </footer>





    <!-- modal ui -->
    <!--login-->
    <div v-else="canlogout" class="modal fade " id="login" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">帳號登入及註冊</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">帳號:</label>
                            <input class="form-control" id="username" type="text" size="32" placeholder="name/mail"
                                name="username" v-model="username">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">密碼:</label>
                            <input class="form-control" id="password" type="password" size="32" placeholder="password"
                                name="password" v-model="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" href="signup.html">註冊</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="submit btn btn-primary" @click.prevent="login">登入</button>
                </div>
            </div>
        </div>
    </div>

    <!-- member -->
    <div v-else="canlogout" class="modal fade" id="member" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">個人資料編輯</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <p>編輯大頭貼</p>
                            <input type="file" id="the_file" @change="fileSelected" style="display:none ;">
                            <img v-if="img_display" :src="img_display" width="200" onclick="the_file.click()">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">賣場名稱:</label>
                            <input type="text" class="form-control" id="name" type="text" size="32" placeholder="名稱"
                                v-model="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">地區:</label>
                            <select select class="form-select" aria-label="Default select example" v-model="region">
                                <option v-for="option in options" v-bind:value="option.text">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">電話:</label>
                            <input type="text" class="form-control" id="phone" type="text" size="32"
                                placeholder="建議輸入手機" v-model="phone">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="description" name="story" rows="5" cols="50"
                                v-model="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" @click.prevent="savedata">儲存</button>
                </div>
            </div>
        </div>
    </div>


    <!-- shop car -->
    <!-- 圖片 p id p name p price -->

    <div v-else="canlogout" class="modal fade" id="shop_car" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <button type="button" id="v_btn" style="display:none;" v-on:click="shop_car_ADD()"></button>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">願望清單</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">圖片</th>
                                <th scope="col">名稱</th>
                                <th scope="col">地區</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(value,index) in p_list">
                                <th scope="row">{{ index }}</th>
                                <td style="width:200px;">
                                    <img :src="value.img_src" class="img-thumbnail" style="width:50% ;" @click="shop_car_link(index)">
                                </td>
                                <td>{{ value.name }}</td>
                                <td>{{ value.city }}</td>
                                <td style="width:100px ;"><button type="burron" class="btn btn-danger"
                                        @click="shop_car_delete(index)">刪除</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>













    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script src="js/monitor.js"></script>
    <script src="js/member.js"></script>
    <script src="js/item.js"></script>
    <script src="js/shop_car.js"></script>
</body>

</html>