<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">





    <style type="text/css">


        body {
            background-color: #f5f5f5;
        }



        .zoomImage {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }


        .page_word:hover {
            color: aqua;
            cursor: pointer;
        }
    </style>

    <title>農產品推銷網站</title>



</head>

<body>


    <header>
        <nav class="navbar navbar-expand-md fixed-top" style="background-color: rgb(238, 248, 229);" id="monitor">
            <div class="container-fluid">
                <div>
                    <button type="button" class="btn" onclick="self.location.href='index.html'">
                        <img src="img/plant_logo.svg" class="logo">
                    </button>

                </div>
                <a href="index.html" style="text-decoration:none;color:rgb(45, 107, 45)">
                    <h3 class="mt-2">首頁 HOME</h3>
                </a>
                <div>
                    <h4 class="align-middle " style="display: inline;" v-show="canlogout">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWelcome，</h4>
                    <h4 class="align-middle" style="display: inline;color: orange;" v-show="canlogout">
                        {{message}}&nbsp</h4>
                </div>
                <button class="navbar-toggler btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                   
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>  -->
                    </ul>
                    <form class="d-flex form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto list-inline">

                            <li class="nav-item mt-3">
                                <a href="product_edit.html" style="text-decoration:none" >
                                    <img class="logo1" src="img/upload_icon.svg" alt="" v-show="canlogout">
                                    <span class="nav_span align-middle" v-show="canlogout">商品上架&nbsp&nbsp&nbsp</span>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <button type="button" class="btn navbar_btn" data-bs-toggle="modal"
                                    data-bs-target="#member" v-show="canlogout"><img class="logo1"
                                        src="img/user_icon.svg" alt=""><span
                                        class="nav_span align-middle">賣場資料編輯</span></button>
                            </li>

                            <li class="nav-item">
                                <button v-if="canlogout" type="button" class="btn btn-danger" @click.prevent="logout"
                                    style="padding: 5px 8px;
                        margin: 14px 0px;">
                                    登出
                                </button>
                                <button v-else="canlogin" type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#login">
                                    登入
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>

    </header>




    <div class="container py-5 mt-5" id="product_manage">
        <div class="py-5 text-center">
            <img class="mb-4" src="img/list_icon.svg" width="72" height="72">
            <h2>商品管理</h2>
        </div>
        <h4><span class="text-muted">您目前上架中的商品</span></h4>
        <div class="row mb-3">
            <div class="col-6">
                <input id="p_name" type="text" class="form-control" placeholder="搜尋商品名稱" v-model="search_name">
            </div>
            <div class="col-3">
                <select class="form-select" v-model="search_type">
                    <option value="">不限制</option>
                    <option value="水果">水果</option>
                    <option value="蔬菜">蔬菜</option>
                    <option value="肉類">肉類</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div class="col row">
                <button class="btn btn-primary btn-block" @click="get_product">搜尋</button>
            </div>

        </div>



        <hr>
        <div class="row" id="search_msg">
            <p class="text-success">一共搜尋到 {{count}} 個結果</p>
        </div>
        <div class="row mb-3 mt-4">
            <div class="row mb-3 py-2 justify-content-around">


                <div style="height:450px; width:250px; background-color: rgba(212, 209, 209, 0.904)"
                    class="border border-secondary mt-2" v-for="(data,index) in alldata">
                    <div class="row mt-2" style="height:65%;">
                        <div class="zoomImage" v-bind:style="data.img_src"></div>
                    </div>
                    <div class="row py-2" style="word-wrap:break-word;">
                        <h5>{{data.p_name}}</h5>
                    </div>
                    <div class="row">
                        <p class="col-7">價格: {{data.p_price}}</p>
                        <p class="col-5" style="font-size:15px">庫存: {{data.p_amount}}</p>
                        <button class="col-6 btn btn-success" @click="edit_product(data.p_id)">編輯</button>
                        <button class="col-6 btn btn-danger"
                            @click="delete_product(data.p_id,index,data.p_name)">刪除</button>
                    </div>

                </div>


            </div>
        </div>


        <div class="row justify-content-center" style="font-size: 17px">
            <div v-for="index in All_page" style="width: 5%;">

                <h5 v-if="index == current_page" class="border border-secondary text-center text-danger">{{index}}</h5>
                <h5 v-else class="text-center page_word" @click="change_page(index)">{{index}}</h5>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-info btn-lg btn-block mt-5" onclick="self.location.href='index.html'">回首頁</button>
        </div>


        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© Green Sale</p>
        </footer>
    </div>





    <!-- member -->
    <div v-else="canlogout" class="modal fade" id="member" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">個人資料編輯</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <p>編輯大頭貼</p>
                            <input type="file" id="the_file" @change="fileSelected" style="display:none ;">
                            <img v-if="img_display" :src="img_display" width="200" onclick="the_file.click()">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">賣場名稱:</label>
                            <input type="text" class="form-control" id="name" type="text" size="32"
                                placeholder="名稱" v-model="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">地區:</label>
                            <select select class="form-select" aria-label="Default select example" v-model="region">
                                <option v-for="option in options" v-bind:value="option.text">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">電話:</label>
                            <input type="text" class="form-control" id="phone" type="text" size="32"
                                placeholder="建議輸入手機" v-model="phone">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="description" name="story" rows="5" cols="50"
                                v-model="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" @click.prevent="savedata">儲存</button>
                </div>
            </div>
        </div>
    </div>







    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>




    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


    <script src="js/monitor.js"></script>
    <script src="js/member.js"></script>
    <script src="js/product_manage/product_manage.js"></script>


</body>

</html>