<!DOCTYPE html>
<html lang="zh-tw" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <div class="box" id="signup">
    <h1>註冊</h1>
    <input type="text" name="" placeholder="name" v-model="username">
    <input type="text" name="" placeholder="mail" v-model="mail">
    <input type="password" name="" placeholder="Password" v-model="password">
    <input type="password" name="" placeholder="Password confirm" v-model="password2">
    <input type="submit" name="" value="register" @click.prevent="checkmail"> 
    <div>
      <a style="color: blue;" href="index.html">返回上一頁</a>
      <p style="color: aliceblue;">{{message}}</p>
    </div>
    

  </div>

  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/vue.min.js"></script>
  <script src="js/signup.js"></script>

  
  </body>
</html>
